# SPDX-FileCopyrightText: 2026 Eric van der Vlist <vdv@dyomedea.com> 
# SPDX-License-Identifier: GPL-3.0-or-later

.devcontainer/tmp/
.devcontainer/var/
.composer/

.devcontainer/wp-content/mu-plugins/pexlechris_adminer_avoid_conflicts_with_other_plugins.php
